        .demo {
            width:100%;
            height:100%;
            border:2px solid #C0C0C0;
            border-collapse:collapse;
            border-spacing:2px;
            padding:5px;
        }
        .demo caption {
            caption-side:top;
            text-align:center;
        }
        .demo th {
            border:2px solid #C0C0C0;
            padding:5px;
            background:#F0F0F0;
        }
        .demo td {
    border:2px solid #C0C0C0;
    text-align:center;
    padding:5px;
    background:#FFFFFF;
}

fieldset{
    padding: 20px;
    margin: 20px 1%;
    margin-bottom: 20px;
    border: 3px solid rgb(0, 0, 0);
    border-left: 20px solid rgb(67, 177, 204);
    display: block;
}