<html>
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/styleDadosPessoais.css">
    <title>DadosPessoais</title>
</head>

<h1>DADOS PESSOAIS</h1>

<body>
    <form>
        
            <div class="campo">
        
                <input type="nomecomp" name="nomeCompleto" placeholder="Digite seu Nome Completo" required>
                <input type="apelido" name="apelido" placeholder="Apelido/Nome social" required>
                <input type="cartaoSUS" name="cartaoSUS" placeholder="N° cartao SUS" required><br>
                <input type="rg" name="rg" placeholder="RG" required>
                <input type="cpf" name="cpf" placeholder="CPF" required>
                <input type="nomedamae" name="nomedamae" placeholder="Nome Completo Da Mae" required><br>
                <input type="apelidomae" name="apelidomae" placeholder="Apelido/Nome social" required>
                <input type="text" name="Mumu" placeholder="Municipio de nascimento/UF" required>
    
            </div>
    </form>

    <form>
        <div class="campo">
            <h3>Sexo:</h3>

            <input type="radio" name="mas/fem" id="masc" placeholder="Masculino">Masculino
            <br><input type="radio" name="mas/fem" id="fem" placeholder="Feminino">Feminino
            <br><input type="date" name="data" placeholder="00/00/00" required><br>

            <h3>Nacionalidade:</h3>

            <input type="radio" name="bras/nat/est" id="bras" placeholder="Brasileira">Brasileira
            <br><input type="radio" name="bras/nat/est" id="nat" placeholder="Naturalizada">Naturalizada
            <br><input type="radio" name="bras/nat/est" id="est" placeholder="Estrangeira">Estrangeira<br>

            <h3>Escolaridade:</h3>

            <input type="radio" name="alfabetizado/naoalfabetizado" id="alfabetizado" placeholder="Alfabetizado(a)">Alfabetizado(a)
            <br><input type="radio" name="alfabetizado/naoalfabetizado" id="naoalfabetizado" placeholder="Não Alfabetizado(a)">Não Alfabetizado(a)<br>

            <h3>Raça/Cor:</h3>

            <input type="radio" name="Branca/Preto/Parda/Indi/NaoDeclarada" id="Branc" placeholder="Branca">Branca
            <input type="radio" name="Branca/Preto/Parda/Indi/NaoDeclarada" id="Pret" placeholder="Preta">Preta
            <input type="radio" name="Branca/Preto/Parda/Indi/NaoDeclarada" id="Pard" placeholder="Parda">Parda
            <input type="radio" name="Branca/Preto/Parda/Indi/NaoDeclarada" id="Indig" placeholder="Indigena">Indigena
            <input type="radio" name="Branca/Preto/Parda/Indi/NaoDeclarada" id="NaDe" placeholder="NaoDeclarada">Não declarada
            <input type="text" name="ET" placeholder="Qual sua Etnia?"><br>

            <h3>Tem Religião?</h3>

            <input type="radio" name="sim/nao" id="sim" placeholder="sim">Sim
            <input type="radio" name="sim/nao" id="nao" placeholder="não">Não
            <a>Qual?</a>
            <input type="text" name="religiao" placeholder="Digite sua religião">


    </form>
    </div>

    
            <button class="botao" type="submit" onsubmit="">Concluir</button>

    </section>
</body>

</html>
</body>