<html>
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/styloTelaLogin.css">
    <title>Login</title>
</head>

<body>
    <section class="area-login">
        <div class="login">

            <div>
                <img src="../imagens/logo.png">
        </div>

            <h1 id="titulo">CUIDADOR IDOSO</h1>

          <form>
               <input type="text" name="nome" placeholder="Nome de Usuario" autofocus>  
               <input type="password" name="senha" placeholder="senha"> 
               <a id="inputo" href="../templates/TelaDepoisLogin.html">ACESSAR</a>
          </form>

          <p id="cadastro">Ainda não possui cadastro?<a href="TelaCadastro.html">Criar conta</a></p>

    </section>
</body>

</html>