<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8"/>
        <title>Ministério da Saude - Cardeneta de Saúde da Pessoa Idosa</title>
        <link rel="shortcut icon" type="image/x-icon" href="../imagens/ministérioico.ico"/>
        <link rel="stylesheet" type="text/css" href="../css/style.css"><!--Conecta ao CSS-->
    </head>
    <body>
        <header id="home">
            <div class="logo"><img id="logominis" src="../imagens/ministério.png" alt="logo"></div>
            <nav>
                <ul>
                    <a href=""><li>Acesse sua Cardeneta</li></a>
                    <a href="../templates/TelaLogin.html"><li>Acesse seu Perfil</li></a>
                </ul>

            </nav>
        </header>
        <br>
        <div id="variola">
            <img src="https://www.gov.br/saude/pt-br/pagina-inicial/@@govbr.institucional.banner/c8fa470d-3f80-4b26-9dfa-814899b47e00/@@images/cae72d2b-4094-43a0-898b-39f8fb29ff70.png" width="1000" height="160" alt="Varíola dos Macacos">
        </div>
            <div id="idoso">
                <br>
                <img width="1000" height="600" src="../imagens/senhore&senhora.jpg" alt="idosos"/>
            </div>

            <br>

        <div id="titleapresentacao">
            <section id="sectionapresentacao"><h2 id="textapr">Apresentação</h2></section>
        </div>

        <div id="apresentacao">
            <br>
            <p>O Ministério  da  Saúde  compreende  o  envelhecimento  populacional  como  uma  conquista  e um triunfo da humanidade no século XX, mas reconhece que existem muitos desafios para que o envelhecimento aconteça com qualidade de vida. 
                No campo das políticas e dos programas dirigidos à população idosa, o desafio é contemplar seus direitos, preferências e  necessidades,  para  a  manutenção  e  melhoria  de  sua  capacidade  funcional,  garantindo  atenção integral à sua saúde.</p>

                <p>A  Caderneta  de  Saúde  da  Pessoa  Idosa  integra  um  conjunto  de  iniciativas  que  tem  por  objetivo qualificar a atenção ofertada às pessoas idosas no Sistema  Único  de  Saúde.  
                É  um  instrumento proposto para auxiliar no bom manejo da saúde da pessoa idosa, sendo usada tanto pelas equipes de saúde, quanto pelos idosos por seus familiares e cuidadores.</p>

                <p>É muito importante que seu preenchimento se dê por meio de informações cedidas pela pessoa  idosa,  por  seus  familiares  e/ou  cuidadores,  para  compor  o  Plano  de  Cuidado,  a  ser  construído em conjunto com os profissionais de saúde.  
                A Caderneta  permitirá  o  registro  e  o  acompanhamento,  pelo  período  de  cinco  anos, de informações sobre dados pessoais, sociais e familiares, sobre  suas condições de saúde e seus hábitos de vida, identificando suas vulnerabilidades, além de ofertar orientações para seu autocuidado.  
                Desejamos que a Caderneta contribua para qualificar a atenção à pessoa idosa no SUS.</p>
                <br>
                         
        </div>
        <div id="tutorial">
            <img id="tuto" src="../imagens/Tutorial.png" alt="tutorial da cardeneta do idoso"/>
            <br><br>
            <img src="https://www.gov.br/saude/pt-br/pagina-inicial/@@govbr.institucional.banner/fe665823-4769-4d6b-9497-6135b3ea2b31/@@images/50098a62-a8b7-4986-b471-6289f0252c3c.png" width="1000" height="145" alt="Ouvidoria-Geral do SUS">
        </div>
    </body>

    <a href="#home"><section id="section1">.</section></a>
    <footer class="footer-distributed">
        <div class="footer-left">   
            

            <a href="../HTML/index.html"><img id="logoministériodasaude" src="../Imagens/ministério.png" alt="Logo Ministério da Saude"></a>

            <p class="footer-links">

                <a href="../HTML/index.html">Home</a>

                <a href="">Acesse sua Cardeneta</a>

                <a href="">Acesse seu Perfil</a>

            </p>

            <p class="footer-company-name">Ministério da Saude © 2022</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Ministério da Saúde - Esplanada dos Ministérios, Bloco G, 3º Andar</span> Brasília-DF</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>(61) 3315-2130 / 2133 / 2079</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:gabinete.se@saude.gov.br">gabinete.se@saude.gov.br</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>Sobre o Ministério da Saúde</span>
                O Ministério foi criado para cuidar das funções de saúde e educação, contudo, o Ministério não possuía estrutura e formato apropriados para gerenciar os principais problemas que existiam na área da saúde, pois questões relacionadas continuavam ligadas a outros ministérios e autarquias.
            
                <br>Desenvolvido pela equipe, Senac - TI13N.
            
            </p>

        </div>

    </footer>
</html>